h1{
  text-align: center;
  margin: 0;
  padding-top: 140px;
  padding-bottom: 100px;
}
p{
  font-size: 1.2em;
}
  html{
    margin: 0;
    padding: 0;
  }
  body{
    background: #0e1215;
    margin: 0;
    padding: 0;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
  }

  /* .......................
          NAVIGATION
  ....................... */
  nav{
    position:fixed;
    background:rgba(0,0,0,0.8);
    background: #060607;
    width:100%;
    z-index: 200;
  }
  #navbarResponsive{
    background: #060607;
  }
  .navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  nav .navbar-toggler{
    z-index: 101;
    border: none;
  }
  nav .nav-link{
    padding: 20px 0;
    padding: 10px 0;
  }
  nav .nav-link:hover{
    background: #101011;
  }
  nav .navbar-toggler:hover{border: none;}
  nav a{
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 0.86rem;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    font-style: italic;
  }
  nav li a:hover{color: snow;}
.home a{color: red;}
.about a{color: purple;}
.skills a{color: orange;}
.resume a{color: lightgreen;}
.contact a{color: lightblue;}










  .content-wrapper{
    /* background: rgba(32,233,0,0.3); */
    position: relative;
    margin:0;
    padding: 0;
    width: 100%;
    /* min-height: 100vh; */
  }

  #home, #about, #skills, #projects, #resume, #contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
  }




#home{
  background: url(intelligence.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;

  margin: auto 0;
}
.brand-wrapper{
  background: rgba(0, 0, 0, 0.85);
  display: table;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  /* padding-top:100px; */
  color: #ffffff;
  color: #C1CDCD;
}
.brand-innerwrapper{
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  /* background:indigo; */

  float: right;
}
.brand .mybrand{
  margin-bottom: 0;
  padding-bottom: 0;
}
#home .brand{
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 60px;
  /* background: green; */
}
#home .brand .mybrand{
  font-size: 6em;
  font-size: 7em;
  font-family: 'Tajawal', sans-serif;
  /* font-weight: 100; */

  text-transform: uppercase;
}
#home .brand p{
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  font-weight: lighter;
}
#home .introduction{
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.2em;
}






#about{
  background: rgb(217,225,229);
  color: #0e1215;
}
#about p{
  margin: 0 20%;
  text-align: justify;
  font-size: 1.2em;
}

/* .......................
        Skills
....................... */
#skills{
  position: relative;
  width: 60%;
  margin: 0 auto;
  color: rgb(217,225,229);
  color: grey;
}
#skills .skills-intro{
  text-align: justify;
  margin-bottom: 40px;
}
#skills .skills-item{
  border: 1px solid grey;;
  text-align: center;
  padding: 5% 2%;
}
#skills .skills-item p{
  font-size: 1em;
}
#skills .skills-item:first-child{
  border-left: 1px solid grey;
}
#skills .skills-item i{
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}





/* .......................
        Projects
....................... */
#projects{
  color: grey;
}
#projects .heading{
  padding-bottom: 50px;
}
.projects-wrapper{
  padding: 0 20%;
  color: grey;
}
.row{
  margin: 0;
  padding: 0;
}
.col{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}
.portfolio-wrapper{
  width:100%;
  min-height: 400px;
  margin: 0;
  padding: 0;
}
.background{
	position: absolute;
  width: 100%;
  min-height: 400px;
  margin: 0;
  padding: 0;
  border: 6px solid rgba(255,255,255,0.8);
}
.background-1{
  background: url(imgs/vfg.png);
  background-position: 50% 0%;
  background-size: cover;
}
.background-2{
  background: url(imgs/owp.png);
  background-position: 50% 0%;
  background-size: cover;
}
.background-3{
  background: url(imgs/ohc.png);
  background-position: 50% 0%;
  background-size: cover;
}
.background-4{
  background: url(imgs/pp.png);
  background-position: 50% 0%;
  background-size: cover;
}
.background-5{
  background: url(imgs/fp.png);
  background-position: 50% 0%;
  background-size: cover;
}
.description{
	position: absolute;
  background: #fff;
  width: 100%;
  min-height: 400px;
  display:block;
  margin: 0;

  padding: 40px;


  border: 6px solid rgba(153,153,153,0.8);

  transition: 0.3s;
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.description:hover{
  opacity: 1;
  margin-bottom: 100px;
}
.description .technology{
  font-size: 1.4em;
  font-weight: bold;
  text-align:center;
}
.projects-wrapper ul li a{
  color: grey;
}
.projects-wrapper ul{
	margin: 0;
	padding: 0;
}
.projects-wrapper ul li{
	list-style: none;
	display: inline-block;
	margin: 0 auto;
}
.projects-wrapper ul li a{
	text-decoration: none;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid black;
}
.projects-wrapper ul li a:hover{
  color: lightgrey;
}
.icons{
  text-align: center;
  /* font-size: 1.6em; */
  margin: 0;
  padding: 0;
}
.icons i{
	margin: 0 10px;
  /* font-size: 1.6em; */
}
.projects-wrapper h1{
  margin: 0;
  padding: 10px;
  text-align: center;
}

.links-wrapper{
  width: 100%;
  margin: 20px 0;
}
.links-wrapper ul{
	width: 100%;
	margin: auto;
	height: auto;
  text-align: center;
}

.project-1{
}
.project-2{
}
.project-3{
}
.other{
  margin: 100px 0 0 0;
  padding: 0;
}


/* .......................
        Resume
....................... */
#resume{
  background: rgb(217,225,229);
  color: #0e1215;
  text-align: center;
}


/* .......................
        Contact
....................... */
#contact{
  background: lightgrey;
  color: #0e1215;
  margin: 0;
  padding: 0;
}
  .contact-info{
    margin-bottom: 0px;
    /* text-align: justify; */
    padding: 0 20%;
  }

  #contact .socialmedia{
    text-align: center;
  }
  #contact .socialmedia li{
    display: inline-block;
    margin: 0 10px;
  }
  #contact .socialmedia li a{
    color: grey;
  }
  #contact .socialmedia li a:hover{
    color: darkgrey;
  }

  footer{
    position: relative;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    bottom: 0;
  }
  footer .copyright{
    text-align: center;
    margin: 0;
    padding: 14px 0;
    color: grey;
    font-size: 0.78em;
  }







/* ***********************************/
/****** Responsive breakpoints ******/
/* ***********************************/
/*Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575px) {
      #home{
				margin: 0 auto;
			}
			.brand-wrapper{
				background: rgba(0, 0, 0, 0.85);
				display: table;
				height: 100vh;
				overflow: hidden;
				margin: 0 auto;
				padding: 0;
				padding-top:100px;
        padding-top: 0;
				color: #ffffff;
				color: #C1CDCD;
			}
			.brand-innerwrapper{
				margin: 0 auto;
				display: table-cell;
				vertical-align: middle;

				float: right;
			}


      #home .brand .mybrand{
        font-size: 6em;
        font-size: 4em;
        font-family: 'Tajawal', sans-serif;
        text-transform: uppercase;
      }

      /* PROJECTS */
      .icons i{
      	margin: 0 10px;
        font-size: 1.2em;
      }
      .projects-wrapper h1{
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
      }
      .description p{
        font-size: 1em;
      }
      .description .technology{
        font-size: 1em;
        font-weight: bold;
        text-align:center;
      }

      .links-wrapper{
        width: 100%;
        margin: 20px 0;
      }
      .links-wrapper ul{
      	width: 100%;
      	margin: auto;
      	height: auto;
        text-align: center;
      }

      .links-wrapper ul span{
        display: none;
      }
      .projects-wrapper ul li a{
        font-size: 1.6em;
      	border-bottom: 0;
      }
    }









    /*// Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) {
      /* body{background: green;} */
    }

    /*// Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
      /* body{background: red;} */
    }

    /*// Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
    }

    /*// Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
    }
